.section,
.title-section {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  background-position: center;
  background-size: cover;
}

.section-title {
  font-weight: 800;
}

.title-section .section-title {
  font-size: 12vh;
  text-transform: uppercase;
}

.section .section-title {
  font-size: 7vh;
}

.section-subtitle {
  font-size: 3vh;
  font-weight: 400;
}

.navbar-default {
  background-color: rgba(248,248,248,0.8);
  border: none;
}

.overlay:before {
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  top: 0;
}

.overlay .container {
  z-index: 2;
  color: white;
}
